fastai==2.1.2 
streamlit==0.70.0
pathlib2==2.3.5
-f https://download.pytorch.org/whl/torch_stable.html                                                                                                                                                             
torch==1.6.0+cpu